@font-face {
	font-family: 'TT Hoves';
	src: url('../public/fonts/TTHoves-Regular.eot');
	src: local('☺'), url('../public/fonts/TTHoves-Regular.woff') format('woff'), url('../public/fonts/TTHoves-Regular.ttf') format('truetype'), url('../public/fonts/TTHoves-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-primary: #1f2020;
	--color-primary-light: rgba(31, 32, 32, 0.3);
	--color-light: rgba(255, 255, 255, 0.3);
	--color-green: #7bb899;
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media (max-width: 87.5em) {
		font-size: 50%;
	}
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: inherit;
	font-weight: normal;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1838px;
	padding: 0 24px;
	margin: 0 auto;
}

.swiper .swiper-button-prev {
	display: none;
}

.next-arrow {
	position: absolute;
	z-index: 105;
	right: calc(480 / 1920 * 100%);
	bottom: calc(166 / 520 * 100%);
	cursor: pointer;

	@media (max-width: 56.25em) {
		display: none;
	}
}

.next-arrow svg {
	width: 2.2rem;
	height: 4.2rem;
}

.swiper .swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: fit-content;
	left: 50% !important;
	bottom: 4rem !important;
	transform: translateX(-50%);
	padding: 1.3rem 2.4rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 16px;
}

.swiper-pagination .swiper-pagination-bullet {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 0 6px 0 0 !important;
}

.swiper-pagination .swiper-pagination-bullet:last-child {
	margin: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
	background-color: #fff;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: hidden;
	cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}